:root {

    /**
     * colors
     */
  
    --rich-black-fogra-29_50: hsl(210, 26%, 11%, 0.5);
    --rich-black-fogra-29-1: hsl(210, 25%, 11%);
    --rich-black-fogra-29-2: hsl(210, 50%, 4%);
    --silver-metallic: hsl(212, 9%, 67%);
    --coquelicot_20: hsla(12, 98%, 52%, 0.2);
    --coquelicot_10: hsla(12, 98%, 52%, 0.102);
    --sonic-silver: hsl(0, 0%, 47%);
    --cadet-gray: hsl(214, 15%, 62%);
    --light-gray: hsl(0, 0%, 80%);
    --coquelicot: hsl(12, 98%, 52%);
    --gainsboro: hsl(0, 0%, 88%);
    --white_20: hsl(0, 0%, 100%, 0.2);
    --white_10: hsl(0, 0%, 100%, 0.1);
    --black_10: hsl(0, 0%, 0%, 0.1);
    --white: hsl(0, 0%, 100%);
    --rich-black-fogra-29-1: #101820;
  
    /**
     * typography
     */
  
    --ff-catamaran: 'Catamaran', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
  
    --fs-1: 3.8rem;
    --fs-2: 3rem;
    --fs-3: 2.5rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
  
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-500: 500;
  
    /**
     * spacing
     */
  
    --section-padding: 80px;
  
    /**
     * shadow
     */
  
    --shadow-1: 0 0 20px var(--black_10);
    --shadow-2: 0px 10px 24px var(--coquelicot_20);
  
    /**
     * border radius
     */
  
    --radius-10: 10px;
    --radius-8: 8px;
    --radius-5: 5px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }


  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,
  img,
  span,
  input,
  button,
  strong,
  ion-icon { display: block; }
  
  img { height: auto; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-family: var(--ff-rubik);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Catamaran', sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  :focus-visible { outline-offset: 4px; }
  
  ::-webkit-scrollbar { width: 5px; }
  
  ::-webkit-scrollbar-track { background-color: var(--light-gray); }
  
  ::-webkit-scrollbar-thumb { background-color: var(--coquelicot); }
  
  ::-webkit-scrollbar-thumb:hover { background-color: var(--rich-black-fogra-29-1); }
  
  






































/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--ff-catamaran);
}
body{
    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,#c9d6ff);
    background-color: #151c23;
    color: var(--silver-metallic);
    background-image: url('../assets/images/classes-bg.png');

    
    
} */
/* .container{
    background:#fff;
    width:450px;
    padding:1.5rem;
    margin:50px auto;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
} */




.header .btn { display: none; }

.header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 10px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--rich-black-fogra-29-1);
  font-family: var(--ff-catamaran);
  font-size: 3.5rem;
  font-weight: var(--fw-900);
  display: flex;
  align-items: center;
  margin-inline-start: -8px;
}

.logo ion-icon {
  color: var(--coquelicot);
  font-size: 40px;
  transform: rotate(90deg) translate(-2px, -5px);
}

.nav-open-btn {
  background-color: var(--coquelicot);
  padding: 20px 15px;
  border-radius: var(--radius-8);
}

.nav-open-btn .line {
  background-color: var(--white);
  width: 30px;
  height: 3px;
}

.nav-open-btn .line:not(:last-child) { margin-block-end: 6px; }

.nav-open-btn .line:nth-child(2) {
  width: 25px;
  margin-inline-start: auto;
}

.navbar {
  background-color: var(--coquelicot);
  color: var(--white);
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  visibility: visible;
  transform: translateY(-100%);
  transition: 0.5s var(--cubic-out);
}

.nav-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--rich-black-fogra-29-1);
  color: var(--white);
  font-size: 40px;
  padding: 10px;
  border-radius: var(--radius-8);
}

.navbar-link {
  font-family: var(--ff-catamaran);
  font-size: var(--fs-4);
  text-align: center;
  padding-block: 10px;
  margin-block-end: 20px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus, .active) { color: var(--rich-black-fogra-29-1); 
}

  

.container-content {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.box {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-dark {
  background-color: #111;
  color: #fff;
  margin-bottom: 15px; /* Beri jarak ke box bawah */

}
.box-dark span {
  display: block;
  text-align: right;
  color: #ccc;
}
.box-dark .title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 10px 0;
  color: red;
  font-weight: bold;
}

.box-light {
  background-color: #ff3b00; /* Warna oranye */
  color: #fff;
  text-align: center;
  width: 140px;
}

.box-light .title {
  font-size: 16;
  margin: 5px 0;
  font-weight: normal;
}

.box-light .status {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px 0;
  color: #33ff33;

}
.box-period p {
  font-size: 1rem;
  margin: 5px 0;
  font-weight: bold;
}
.container-bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
}


/* Tombol reservasi */
.reserveButton {
  display: block;
  margin: 0px auto 0;
  width: 200px;
  padding: 10px 20px;
  text-align: center;
  background-color: #ff3b00;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  position: relative;
  top: 136px;
}

.reserveButton:hover {
  background-color: #d63400; /* Warna tombol saat hover */
}



.judul {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.body-isi {
  /* font-family: Arial, sans-serif; */
  background-color: #f8f8f8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh;
  flex-direction: column;
  top: 110px;
  position: relative;
}






/* form{
    margin:0 2rem;
}
.form-title{
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
    
}
input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(327,90%,28%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:#fd3d0d;
}
.recover a:hover{
    color:black;
    text-decoration:none;
}
.btn{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:#fd3d0d;
    color:white;
    cursor:pointer;
    transition:0.9s;
}
.btn:hover{
    background:lightsalmon;
}
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    text-align:center;
}
.icons i{
    color:#fd3d0d;
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 15px;
    transition:1s;
}
.icons i:hover{
    background:#fd3d0d1a;
    font-size:1.6rem;
    border:2px solid #fd3d0d;
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight:bold;
}
button{
    color:#fd3d0d;
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
button:hover{
    text-decoration:none;
    color:black;
}
.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1.999;
    text-rendering: auto;
} */

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

 @media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5.8rem;
    --fs-2: 4rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .hero-subtitle,
  .section-subtitle { font-size: var(--fs-5); }



  /**
   * HEADER
   */

  .header .container {
    max-width: unset;
    padding-inline: 30px;
  }



  /**
   * HERO
   */

  .hero-content { padding-inline: 40px; }

  .hero-subtitle .strong { padding-block: 6px; }

  .hero::after { height: 340px; }

  .abs-img-1 {
    top: 130px;
    right: -10px;
    width: 230px;
  }

  .abs-img-2 {
    bottom: 20px;
    left: -40px;
    width: 310px;
  }



  /**
   * ABOUT
   */

  .about .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }

  .about-coach { margin-block-end: 0; }



  /**
   * VIDEO
   */

  .video-card .card-title { --fs-3: 3.5rem; }



  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }

}